/* Fonts 
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto Mono', monospace;
*/

html {
  font-size: 18px;
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  line-height: 1.5;
  background-color: black;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-family: 'Roboto Mono', monospace;
}

.container {
  padding-top: 400px;
  display: flex;
  max-width: 100%;
  background-color: white;
  justify-content: center;
}

.main {
  text-align: center;
}

footer p {
  padding-top: 25px;
  color: white;
  text-align: center;
}
